@charset "UTF-8";
.description {
    color: maroon;
}
#top {
    font-family: cursive;
    color: teal;
    text-decoration: underline;
    border: 3px solid black;
    border-radius: 15px;
    width: 250px;
}
#disclaimer {
    font-size: smaller;
    font-style: italic;
    color: gray;
}
nav {
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 40px
}